@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur-Black.eot');
    src: local('☺'), url('../fonts/Tektur-Black.woff') format('woff'), url('../fonts/Tektur-Black.ttf') format('truetype'), url('../fonts/Tektur-Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur-Bold.eot');
    src: local('☺'), url('../fonts/Tektur-Bold.woff') format('woff'), url('../fonts/Tektur-Bold.ttf') format('truetype'), url('../fonts/Tektur-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur-ExtraBold.eot');
    src: local('☺'), url('../fonts/Tektur-ExtraBold.woff') format('woff'), url('../fonts/Tektur-ExtraBold.ttf') format('truetype'), url('../fonts/Tektur-ExtraBold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur-Medium.eot');
    src: local('☺'), url('../fonts/Tektur-Medium.woff') format('woff'), url('../fonts/Tektur-Medium.ttf') format('truetype'), url('../fonts/Tektur-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur-Regular.eot');
    src: local('☺'), url('../fonts/Tektur-Regular.woff') format('woff'), url('../fonts/Tektur-Regular.ttf') format('truetype'), url('../fonts/Tektur-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur-SemiBold.eot');
    src: local('☺'), url('../fonts/Tektur-SemiBold.woff') format('woff'), url('../fonts/Tektur-SemiBold.ttf') format('truetype'), url('../fonts/Tektur-SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
}

a,
input:focus,
button:focus {
    outline: none;
}



a:hover {
    text-decoration: none;
    color: #fff;
}

input,
button,
textarea,
select {
    outline: none;
    font: inherit;
    border: inset;
    -webkit-appearance: none;
}

body {
    height: 100vh;
    background-color: #24879C;
    font-family: 'Tektur';
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.075em;
    color: #fff;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.job_header {
    min-height: 100vh;
    background-image: url(../images/job_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 0 135px;
}

.languages {
    max-width: 420px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 70px;
}

.languages_button {
    text-transform: uppercase;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    font-size: 36px;
    color: #FFFFFF;
    border-bottom: 1px solid transparent;
}

.languages_button:focus {
    border-bottom: 1px solid #FFFFFF;
}

.header_title {
    text-align: center;
    font-weight: 500;
    font-size: 100px;
}

.header_agency-name {
    text-align: center;
    font-weight: 800;
    font-size: 90px;
}

.header_text-info {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 60px;
}

.menu {
    max-width: 1170px;
    margin: 0 auto;
}

.menu_list {
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 75px;
}

.menu_button {
    width: 268px;
    height: 91px;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    border: 2px solid #4FC3E3;
    border-radius: 20px;
}

.menu_button:hover {
    background: rgba(83, 83, 83, 0.3);
    backdrop-filter: blur(4.5px);
}

.main {
    border: 2px solid #0072AA;
    border-radius: 73px;
}

.main:hover {
    text-shadow: 0px 0px 12px #fff;
}

.menu_item:last-child {
    margin-top: 30px;
}

.job_box_text {
    position: relative;
    display: flex;
}

.job_offers {
    font-weight: 900;
    font-size: 100px;
    margin-right: 80px;
}

.check_jobs {
    position: relative;
    padding-top: 57px;
    font-weight: 900;
    font-size: 20px;
}

.check_jobs::before {
    content: '';
    position: absolute;
    left: 120px;
    top: 6px;
    width: 127px;
    height: 127px;
    border: 1px solid #00CB9E;
    border-radius: 50%;
}

.check_jobs::after {
    position: absolute;
    left: 25px;
    top: 85px;
    width: 125px;
    height: 10px;
    content: '';
    background-image: url(../images/arrow_job.svg);
    background-repeat: no-repeat;
}

.jobs_span {
    color: #FF2458;
}

/* ------------------------------------------------------------------------- */
.jobs_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.title {
    position: relative;
    font-weight: 600;
    font-size: 100px;
    z-index: 1;
}

.media_icon {
    position: relative;
    width: 91px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media_icon::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 125px;
    background: #fff;
    right: 131px;
}


.wrapper_jobs_card {
    width: 1175px;
    margin: 0 auto 175px;
    position: relative;
}

.down {
    margin-bottom: 175px;
}

.job_card {
    position: relative;
    height: 470px;
    width: 370px;
    margin: 0 auto;
}

.face {
    width: 345px;
    height: 355px;
    transition: all 0.8s;
}

.front {
    position: relative;
    z-index: 1;
    transform: translateY(0px);
}

.job_card_img{
    position: absolute;
    width: 345px;
    height: 355px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}



.title_card {
    position: absolute;
    font-weight: 900;
    font-size: 32px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.job_card:hover .front {
    transform: translateY(0);

}

.back {
    width: 345px;
    height: 290px;
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transform: translateY(-225px);
}

.back_title {
    width: 297px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 15px;
    text-align: center;
    color: #2C2C2C;
    padding: 16px 0;
}

.job_info {
    width: 290px;
    margin: 0 auto 15px;
}

.back_info {
    font-weight: 400;
    font-size: 15px;
    color: #2C2C2C;
    padding-bottom: 6px;
}

.job_card:hover .back {
    transform: translateY(0);
    z-index: 100;
}

.book_call {
    display: block;
    margin: 0 auto 10px;
    width: 203px;
    text-decoration: none;
    text-align: center;
    padding: 8px 0;
    font-weight: 400;
    font-size: 17px;
    color: #1C1C1C;
    border: 1px solid #333;
    border-radius: 50px;
}

.book_call:hover {
    color: #000;
}

.content_card {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.content_card_back {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slick-dots {
    display: flex;
    list-style: none;
    position: absolute;
    right: 45%;
    bottom: -35px;
}

.slick-dots li {
    margin-left: 15px;
}

.slick-dots button {
    border: none;
    font-size: 0;
    width: 27px;
    height: 27px;
    background: #D0D0D0;
    border-radius: 50%;
    opacity: .5;
    cursor: pointer;
    border-radius: 50%;
}

li.slick-active::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #fff;
    margin: 8px -22px;
}

.created {
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.075em;
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 30px;
}

.created_span {
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.075em;
    color: #FFFFFF;
    text-decoration: none;
    z-index: 1;
    cursor: pointer;
}

/* -----------------------------MODAL-FORM--------------------------------------- */
.window_order_wrapper {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(58, 58, 58, 0.7);
    transition: opacity 350ms;
    opacity: 1;
    z-index: 10000;
}

.window_order {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 570px;
    height: 665px;
    background-image: url(../images/window_order_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    z-index: 100;
}

.window_order_title {
    position: relative;
    text-align: center;
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 120px;
    padding-top: 80px;
}

.window_order_input {
    width: 330px;
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 75px;
    margin-left: 80px;
    padding-left: 10px;
    color: #fff;
}

.window_order_input:nth-of-type(2) {
    margin-left: 160px;
}

.window_order_input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
}

.window_order_submit {
    margin: 0 auto;
    display: block;
    padding: 14px 58px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

.window_order_submit:hover {
    background: rgba(83, 83, 83, 0.3);
    backdrop-filter: blur(9px);
}

/* ------------------MODAL-DONE-CHECKED------------------------------------------ */
.window_order_done,
.window_order_checked {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(58, 58, 58, 0.7);
    opacity: 1;
    z-index: 10000;
}

.window_checked {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 822px;
    height: 302px;
    padding-top: 75px;
    background-image: url(../images/window_order_checked.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.window_order_close {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 15px;
    right: 35px;
    cursor: pointer;
}

.window_order_close::after,
.window_order_close::before {
    top: 15px;
    content: "";
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
}

.window_order_close::after {
    transform: rotate(45deg);
}

.window_order_close::before {
    transform: rotate(-45deg);
}

.window_checked_text,
.window_checked_inner {
    display: block;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);
    padding: 26px 0 34px;
    text-align: center;
    margin: 0 auto;
}

.window_checked_text {
    max-width: 670px;
    border-radius: 10px;
}

.window_checked_inner {
    border-top: 1px solid #fff;
    width: 295px;
    border-radius: 0px 0px 25px 25px;
}

/* --------------------------------------MASK----------------------------------------- */
.mask {
    position: relative;
    width: 100%;
    height: 100%;
    background: #24879C;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/preloader.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.loader {
    margin-top: 400px;
    width: 75px;
    height: 75px;
    border: 5px solid transparent;
    border-radius: 50%;
    border-left-color: #DAE0E3;
    animation: loader 1.3s linear infinite;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

/* ------------------------------------COOKIES------------------------------------------ */
.modal-dialog {
    max-width: 1000px;
}

.modal-content {
    display: block;
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    text-align: center;
    color: #000;
}

.modal-footer {
    border-top: none;
}

.details:hover {
    color: #007bff;
    text-decoration-line: underline;
}

@media(max-width:1150px) {
    .wrapper_jobs_card{
        margin-bottom: 0px;
    }
    .job_card {
        width: 345px;
        margin: 0 auto ;
    }

    .content_card{
        align-items: start;
    }
    .title_card{
        padding-top: 20px;
    }
    .back{
        width: 345px;
        z-index: 1;
    }

    .job_box_text {
        display: none;
    }

    .blog_card {
        margin: 0 auto 35px;
    }

    .slick-arrow {
        position: absolute;
        bottom: 0;
    }

    .slick-prev {
        background-color: transparent;
        font-size: 0;
        border: transparent;
        outline: transparent;
    }

    .slick-next {

        background-color: transparent;
        font-size: 0;
        border: transparent;
        outline: transparent;
        cursor: pointer;
        width: 8px;
        height: 110px;
        bottom: -100px;
        right: 50%;
        transform: rotate(271deg);
        background-image: url(../images/slider_arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;
    }


}

@media(max-width:1105px) {
    .menu_item {
        margin-bottom: 30px;
    }

    .menu_item:last-child {
        margin-top: 0;
    }
    .job_card:hover .back {
        transform: translateY(-225px);
        z-index: 100;
    }

}

@media(max-width:990px) {
    .job_offers {
        font-size: 78px;
    }
}

@media(max-width:865px) {
    .job_box_text {
        display: none;
    }
    .window_checked{
        width: 360px;
        height: 230px;
        padding-top: 60px;
    }
    .window_checked_text, .window_checked_inner{
        font-size: 10px;
        padding: 20px 0;
    }
}


@media(max-width:780px) {

    .slick-next {

        
        bottom: -60px;
        
    }

    .created {
        margin-top: 100px;
        font-size: 12px;
        padding-bottom: 10px;
    }

    .created_span {
        font-size: 14px;

    }

}

@media(max-width:740px) {
    .header {
        padding-top: 25px;
    }

    .header_box {
        display: flex;
        flex-direction: column;
    }

    .menu {
        background: #17181B;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        transition: all .5s;
        z-index: 1;
    }

    .menu.active {
        left: 0;
    }

    .close_btn {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .close_btn::after,
    .close_btn::before {
        content: '';
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: #fff;
    }

    .close_btn::after {
        transform: rotate(45deg);
        bottom: 30px;
        left: 25px;
    }

    .close_btn::before {
        transform: rotate(-45deg);
        bottom: 30px;
        left: 25px;
    }

    .menu_list {
        padding-top: 130px;
        flex-direction: column;
        align-items: center;
    }

    .menu_item {
        margin-bottom: 20px;
    }

    .menu_button {
        width: 264px;
        height: 66px;
        font-size: 20px;
        border: transparent;
        background: rgba(255, 255, 255, 0.04);
        box-shadow: inset 0px 0px 25px rgba(166, 154, 154, 0.25);
        backdrop-filter: blur(12px);
        border-radius: 5px;
    }

    .menu_btn {
        width: 30px;
        height: 20px;
        position: relative;
        margin-bottom: 150px;
    }

    .menu_btn span {
        position: absolute;
        width: 80%;
        height: 2px;
        background-color: #fff;
        top: 9px;
    }

    .menu_btn::after,
    .menu_btn::before {
        content: '';
        position: absolute;

        height: 2px;
        background-color: #fff;
    }

    .menu_btn::after {
        top: 0;
        width: 100%;
    }

    .menu_btn::before {
        bottom: 0;
        width: 90%;
    }

    .languages {
        width: 150px;
        margin:0 auto 20px;
        order: 4;
    }

    .languages_button {
        font-size: 20px;
    }

    .header_title {
        font-size: 30px;
        order: 1;
    }

    .header_agency-name {
        font-size: 30px;
        margin-bottom: 20px;
        order: 2;
    }

    .header_text-info {
        font-size: 16px;
        margin-bottom: 40px;
        order: 3;
    }

    .title {
        font-size: 36px;
    }

    .media_icon {
        width: 55px;
    }

    .media_icon::before {
        display: none;
    }

    .media img {
        width: 25px;
        height: 25px;
    }

    /* ---------------------------- */
    .window_order {
        width: 360px;
        height: 511px;
    }

    .window_order_title {
        padding-top: 60px;
        margin-bottom: 45px;
        font-size: 20px;
    }

    .window_order_input {
        width: 255px;
        margin-left: 25px;
        font-size: 15px;
    }

    .window_order_input:nth-of-type(2) {
        margin-left: 90px;
    }
}