@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur-Black.eot');
    src: local('☺'), url('../fonts/Tektur-Black.woff') format('woff'), url('../fonts/Tektur-Black.ttf') format('truetype'), url('../fonts/Tektur-Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur-Bold.eot');
    src: local('☺'), url('../fonts/Tektur-Bold.woff') format('woff'), url('../fonts/Tektur-Bold.ttf') format('truetype'), url('../fonts/Tektur-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur-ExtraBold.eot');
    src: local('☺'), url('../fonts/Tektur-ExtraBold.woff') format('woff'), url('../fonts/Tektur-ExtraBold.ttf') format('truetype'), url('../fonts/Tektur-ExtraBold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur-Medium.eot');
    src: local('☺'), url('../fonts/Tektur-Medium.woff') format('woff'), url('../fonts/Tektur-Medium.ttf') format('truetype'), url('../fonts/Tektur-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur-Regular.eot');
    src: local('☺'), url('../fonts/Tektur-Regular.woff') format('woff'), url('../fonts/Tektur-Regular.ttf') format('truetype'), url('../fonts/Tektur-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur-SemiBold.eot');
    src: local('☺'), url('../fonts/Tektur-SemiBold.woff') format('woff'), url('../fonts/Tektur-SemiBold.ttf') format('truetype'), url('../fonts/Tektur-SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
}

a,
button:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

input,
button,
textarea,
select {
    font: inherit;
    border: inset;
    -webkit-appearance: none;
}

body {
    height: 100vh;
    background: linear-gradient(90deg, #24879C -13.94%, #1E4736 88.28%);
    font-family: 'Tektur';
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.075em;
    color: #fff;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.services_header {
    min-height: 100vh;
    background-image: url(../images/services_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 0 135px;
}

.languages {
    max-width: 420px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 70px;
}

.languages_button {
    text-transform: uppercase;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    font-size: 36px;
    color: #FFFFFF;
    border-bottom: 1px solid transparent;
}

.languages_button:focus {
    border-bottom: 1px solid #FFFFFF;
}

.header_title {
    text-align: center;
    font-weight: 500;
    font-size: 100px;
}

.header_agency-name {
    text-align: center;
    font-weight: 800;
    font-size: 90px;
}

.header_text-info {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 60px;
}

.menu {
    max-width: 1170px;
    margin: 0 auto;
}

.menu_list {
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 75px;
}

.menu_button {
    width: 268px;
    height: 91px;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    border: 2px solid #4FC3E3;
    border-radius: 20px;
}

.menu_button:hover {
    background: rgba(83, 83, 83, 0.3);
    backdrop-filter: blur(4.5px);
}

.main {
    border: 2px solid #0072AA;
    border-radius: 73px;
}

.main:hover {
    text-shadow: 0px 0px 12px #fff;
}

.menu_item:last-child {
    margin-top: 30px;
}

.job_box_text {
    position: relative;
    display: flex;
}

.job_offers {
    font-weight: 900;
    font-size: 100px;
    margin-right: 80px;
}

.check_jobs {
    position: relative;
    padding-top: 57px;
    font-weight: 900;
    font-size: 20px;
}

.check_jobs::before {
    content: '';
    position: absolute;
    left: 120px;
    top: 6px;
    width: 127px;
    height: 127px;
    border: 1px solid #00CB9E;
    border-radius: 50%;
}

.check_jobs::after {
    position: absolute;
    left: 25px;
    top: 85px;
    width: 125px;
    height: 10px;
    content: '';
    background-image: url(../images/arrow_job.svg);
    background-repeat: no-repeat;
}

.jobs_span {
    color: #CBCE23;
}
/* ------------------------------------------------------------ */
.services_number{
    margin-bottom: 5px;
}
.services_text{
    font-size: 36px;
    margin-bottom: 20px;
    padding-left: 55px;
}
.services_info{
    font-size: 16px;
    max-width: 630px;
    margin-bottom: 35px;
    padding-left: 55px;
}

.created{
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.075em;
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px ;
    padding-bottom: 30px;
}
.created_span{
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.075em;
    color: #FFFFFF;
    text-decoration: none;
    z-index: 1;
    cursor: pointer;
}














/* --------------------------------------MASK----------------------------------------- */
.mask{
    position: relative;
    width: 100%;
    height: 100%;
    background: #24879C;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition:0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/preloader.png);
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
}
.loader{
    margin-top: 400px;
    width: 75px;
    height: 75px;
    border: 5px solid transparent;
    border-radius: 50%;
    border-left-color:#DAE0E3 ;
    animation: loader 1.3s linear infinite;
}
@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}
/* ------------------------------------COOKIES------------------------------------------ */
.modal-dialog{
    max-width: 1000px;
}
.modal-content{
    display: block;
}
.modal-header{
    border-bottom: none;
}
.modal-body{
    text-align: center;
    color: #000;
}
.modal-footer{
    border-top:none;
}
.details:hover{
    color: #007bff;
    text-decoration-line: underline;
}
@media(max-width:1105px) {
    .menu_item {
        margin-bottom: 30px;
    }

    .menu_item:last-child {
        margin-top: 0;
    }
    
}
@media(max-width:990px){
    .job_offers{
        font-size: 78px;
    }
}
@media(max-width:835px){
    .check_jobs{
        display: none;
    }
}

@media(max-width:780px) {
    
    .title{
        font-size: 70px;
    }
    

    .created{
        font-size: 12px;
        padding-bottom: 10px;
    }
    .created_span{
        font-size: 14px;

    }
    
}

@media(max-width:740px){
    .header {
        padding-top: 25px;
    }

    .header_box {
        display: flex;
        flex-direction: column;
    }

    .menu {
        background: #17181B;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        transition: all .5s;
        z-index: 1;
    }

    .menu.active {
        left: 0;
    }

    .close_btn {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .close_btn::after,
    .close_btn::before {
        content: '';
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: #fff;
    }

    .close_btn::after {
        transform: rotate(45deg);
        bottom: 30px;
        left: 25px;
    }

    .close_btn::before {
        transform: rotate(-45deg);
        bottom: 30px;
        left: 25px;
    }

    .menu_list {
        padding-top: 130px;
        flex-direction: column;
        align-items: center;
    }

    .menu_item {
        margin-bottom: 20px;
    }

    .menu_button {
        width: 264px;
        height: 66px;
        font-size: 20px;
        border: transparent;
        background: rgba(255, 255, 255, 0.04);
        box-shadow: inset 0px 0px 25px rgba(166, 154, 154, 0.25);
        backdrop-filter: blur(12px);
        border-radius: 5px;
    }

    .menu_btn {
        width: 30px;
        height: 20px;
        position: relative;
        margin-bottom: 150px;
    }

    .menu_btn span {
        position: absolute;
        width: 80%;
        height: 2px;
        background-color: #fff;
        top: 9px;
    }

    .menu_btn::after,
    .menu_btn::before {
        content: '';
        position: absolute;

        height: 2px;
        background-color: #fff;
    }

    .menu_btn::after {
        top: 0;
        width: 100%;
    }

    .menu_btn::before {
        bottom: 0;
        width: 90%;
    }

    .languages {
        width: 150px;
        margin:0 auto 20px;
        order: 4;
    }

    .languages_button {
        font-size: 20px;
    }

    .header_title {
        font-size: 30px;
        order: 1;
    }

    .header_agency-name {
        font-size: 30px;
        margin-bottom: 20px;
        order: 2;
    }

    .header_text-info {
        font-size: 16px;
        margin-bottom: 40px;
        order: 3;
    }
}

@media(max-width:620px){
    .job_offers{
        font-size: 30px;
    }
    .services_number img{
        width: 73px;
        height: 71px;
    }
    .services_text{
        font-size: 16px;
        padding-left: 0;
    }
    .services_info{
        font-size: 10px;
        padding-left: 0;
    }
}